*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
}

h3, h4, h5 {
	margin: 0;
	font-size: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}
input{
	outline: none;
}