$main-color: #3E4C68;
$color-yellow: #E2AA4F;
$color-gold: #FFD700;
$color-yellow-mongoose: #b39973;

$color-green: #32936A;
$color-red: #BA3B39;
$color-water-melon: #c76e6b;
$color-purple: #800080;
$color-purple-plum: #7d2e68;
$color-gray: #808080;
$color-light-yellow: #E0DFD5;
$color-super-light-yellow: #ECECE6;
$color-black: #333333;
$color-black-masala: #444140;
$color-blue: #4599DE;
$color-gray-blue: #60849c;
$color-white: white;
$color-white-smoke: #F5F5F5;
$color-light-gray: #cfd9e2;
$color-yellow-mangoose-2: #dedede;


// media screen sizes
$xx-small-screen-max-width: 400.98px;
$x-small-screen-max-width: 575.98px;
$small-screen-max-width: 767.98px;
$medium-screen-max-width: 991.98px;
$large-screen-max-width: 1199.98px;

$x-small-screen-min-width: 401px;
$small-screen-min-width: 576px;
$medium-screen-min-width: 768px;
$large-screen-min-width: 992px;
$x-large-screen-min-width: 1200px;
