@import "fontawsome";
@import "normalize";
@import "variables";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {

  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $color-black;
  color: $color-white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  padding-right: 20px;
  padding-left: 15px;
  z-index: 10;
  border-bottom: 2px solid $color-black;
  transition: height 400ms;

  &.collapse{
    height: 0;
  }

  .header-wrapper{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

  }

  .site-logo {
    height: 35px;
    flex-basis: 35px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    font-size: 24px;

    //background-color: darken($main-color,7);
    &:before {
      color: $color-light-yellow;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  h2{
    color: $color-light-yellow;
    font-size: 14px;
    margin: 0;
    margin-left: 4px;
    flex-shrink: 0;
    font-weight: normal;
    white-space: nowrap;
  }

  .search {
    max-width: 200px;
    flex-grow: 1;
    position: relative;
    margin-left: auto;
    height: calc(100% - 10px);
    input {
      width: 100%;
      padding-left: 35px;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $color-black;
      outline: none;
      color: $color-black;

      &::placeholder {
        color: $color-black;
      }
      &:focus {
        border: 1px solid $color-yellow;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 13px;
      color: $color-black;
      transform: translateY(-50%) scaleX(-1);
    }
  }

  .right-nav-arrow, .left-nav-arrow {
    display: block;
    flex-basis: 30px;
    flex-shrink: 0;
    height: 30px;
    border-radius: 50%;
    position: relative;
    font-size: 22px;
    color: $color-light-yellow;
    opacity: 0;
    pointer-events: none;
    //border: 1px solid $main-color;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  nav {
    height: 26px;
    flex-shrink: 1;
    //border-right: 2px solid $color-light-yellow;
    //border-left: 2px solid $color-light-yellow;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 100;
    //background-color: $color-white-smoke;

    [class *= "icon-"]:before {
      margin-right: 5px;
    }

    [class *= "icon-"]:after {
      margin-left: 5px;
    }

    .nav-items-wrapper {
      height: 100%;
      display: table;
      transition: transform 400ms;
      white-space: nowrap;
      a {
        color: $color-light-yellow;
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding-right:10px;
        padding-left: 10px;
        position: relative;
        white-space: nowrap;
        transition: color 400ms;
        &:not(:first-of-type) {
          border-left: 1px solid rgba(255,255,255,0.2);
        }
        &:hover {
          color: $color-yellow;
        }

        &.active {
          //color: $color-yellow;
          border-top: 1px solid $color-light-yellow;
          border-left: 1px solid $color-light-yellow;
          border-right: 1px solid $color-light-yellow;
          border-bottom: 1px solid $color-black;
        }
      }
    }

    &.active{
      border-right: 1px solid $color-light-yellow;
      border-left: 1px solid $color-light-yellow;
    }
  }

  .wide-dropdown {
    display: none;
    $margin: 20px;
    position: absolute;
    top: calc(100% - 4px);
    height: calc(80vh - #{60px + 2*$margin});
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
    color: $color-light-yellow;
    //border-radius: 20px;
    background-color: $color-black;
    padding: 20px 25px;
    border-top: 1px solid $color-light-yellow;
    z-index: 10;



    span {
      position: absolute;
      bottom: 100%;
      left: 130px;
      height: 2px;
      background-color: $color-black;
      width: 137px;
      z-index: 9999;

    }

    .menu-filter {
      //margin-left: auto;
      width: 90%;
      position: relative;
      color: $color-yellow;

      &:before {
        position: absolute;
        top: 50%;
        left: 15px;
        color: $color-yellow;
        transform: translateY(-50%) scaleX(-1);
      }

      .filter-clear-btn{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        &.active{
          display: block;
        }

      }

      input {
        color: inherit;
        width: 100%;
        height: 30px;
        //border-radius: 4px;
        border: none;
        border-bottom: 1px solid $color-yellow;
        //padding-left: 14px;
        background-color: transparent;
        &:focus {
          //border: 1px solid $color-yellow;

        }
        &::placeholder {
          color: $color-yellow;
        }
        &::-webkit-search-cancel-button{
          -webkit-appearance: caret;
          //width: 10px;
          //height: 10px;
          //background: #7D2E68;

        }
      }
    }

    [class *= "icon-"]:before {
      margin-right: 0.3em;
    }

    .groups {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      height: calc(100% - 20px);
      width: 100%;
      align-content: start;
      overflow-x: auto;

      &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,1);
      }
      &::-webkit-scrollbar-thumb{
        background-color: $color-light-yellow;
        outline: 1px solid #999;
      }
      &::-webkit-scrollbar-corner {
       background-color: transparent;
      }

      .group {
        padding-left: 20px;
        //width: fit-content;
        letter-spacing: 0.1em;
        h4 {
          color: #E0DFD5;
          margin-bottom: 8px;
          margin-top: 9px;
          font-weight: bold;
          font-size: 18px;
          border-bottom: 1px solid;
          padding-bottom: 8px;
          transition: opacity 100ms;
          &:after {
            margin-left: 0.3em;
          }
        }
        &.matched > h4{
          opacity: 1 !important;
        }
        .group-item   {
          display: block;
          padding-top: 7px;
          padding-right: 40px;
          font-size: 13px;
          /* font-weight: bold; */
          padding-left: 8px;
          transition: opacity 100ms;
          &:before {
            //color: $ter-color;
          }
          &.separator{
            background: $color-yellow;
            height: 1px;
            padding: 0;
            width: calc(100%);
            opacity: 0.3;
            margin: 4px auto 0;
          }
          &.matched{
            opacity: 1 !important;
          }
          &.single-group-item{
            font-weight: bolder;
            font-size: 14px;
          }
        }
      }
    }

    &.active {
      display: block;
    }

    &.filtering-mode{
      .groups{
        .group{
          h4{
            opacity: 0.3;
          }
          .group-item{
            opacity: 0.3;
          }
        }
      }
    }

  }

  .dropdown {
    position: absolute;
    top: 100%;
    //top: calc(100% + 20px);
    //border-radius: 10px;
    width: 200px;
    color: $color-light-yellow;
    background: $color-black;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
    display: none;
    a {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin: 0;
      transition: all .3s ease;
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
      &:hover {
        color: #2739c1;
        background: #eaeaea;
      }
      &.separator{
        background: $color-yellow;
        height: 1px;
        padding: 0;
        margin: 0 auto;
        width: calc(100%);
        opacity: 0.3;
      }
    }
    //region
    //&:before {
    //  content: '';
    //  position: absolute;
    //  bottom: 100%;
    //  left: 20px;
    //  border-bottom: 13px solid $color-black;
    //  border-top: none;
    //  border-right: 15px solid transparent;
    //  border-left: 15px solid transparent;
    //  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.1));
    //}
    //endregion
    &.active {
      display: block;
    }
  }

  .dropdwon-background{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100vw;
    height: calc(100vh - 35px);
    background-color: $color-white;
    opacity: 0.4;
    display: none;
    &.active{
      display: block;
    }
  }

}

.cv-content {

  position: relative;
  z-index: 0;
  display: flex;
  flex-grow: 1;

  .left {

    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: flex-basis 1s;

    &.collapse{
      flex-basis: 0 !important;
    }

  }

  .center {
    height: 100%;
    flex-grow: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  
    .position-wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  
  }

  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: flex-basis 1s;
    &.collapse{
      flex-basis: 0 !important;
    }

  }

  #left-drag-handler, #right-drag-handler {
    height: 100%;
    background-color: $color-black;
    background-clip: padding-box;
    width: 5px;
    cursor: col-resize;
  }

  #left-drag-handler{
   border-right: 2px solid transparent;
  }

  #right-drag-handler{
    border-left: 2px solid transparent;
  }

}

footer {

  height: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 2px solid $color-black;
  //overflow: hidden;

  .footer-center {
    display: flex;
    .window-link {
      position: relative;
      margin-right: 15px;
      border: 1px solid $color-black;
      color: $color-black;
      opacity: 0.4;
      border-radius: 4px;
      font-size: 13px;
      padding: 7px 50px 7px 10px;
      transition: opacity 400ms;
      .close {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
      }
      &.active {
        opacity: 1;
      }
      &:not(.active):hover {
        opacity: 0.7;
      }
    }

  }

  .footer-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .user {
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-image {
        flex-basis: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
      .user-name {
        font-size: 13px;
      }
    }
    .notifications {
      margin-right: 20px;
      font-size: 28px;
      color: $color-black;
      position: relative;
      cursor: pointer;
      &:after {
        content: attr(data-count);
        position: absolute;
        font-size: 14px;
        border-radius: 50%;
        background-color: $color-yellow;
        color: $color-white;
        top: 0;
        right: 0;
        width: 17px;
        height: 17px;
        line-height: 17px;
        border: 1px solid $color-white;
        text-align: center;
        transform: translate(17%, -34%);
      }
    }
    .buttons-group {
      margin-right: 20px;
      display: flex;
      border: 1px solid $color-black;
      border-radius: 5px;
      button {
        border-right: 1px solid $color-gray;
        width: 30px;
        height: 30px;
        transition: color 400ms;
        color: $color-gray;
        &:last-child {
          border: none;
        }
        &:hover {
          color: $color-black;
        }
        &.active {
          background-color: $color-black;
          color: $color-white-smoke;
        }
      }
    }
    .log-out-wrapper{
      position: relative;


      > a{
        cursor: pointer;
        transition: background-color 400ms;
        text-align: center;
        &:before{
          width: 20px;
          height: 20px;
        }
        &.active{
          background-color: $color-light-yellow;
        }
        &:hover{
          background-color: $color-light-yellow;
        }
      }
      .log-out-menu{
        position: absolute;
        top: calc(-100% - 1px);
        left: 50%;
        transform: translate(-90%, -100%);
        background-color: $color-white;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
        min-width: 140px;
        color: $color-black;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
        flex-direction: column;
        z-index: 999;
        &.active{
          display: flex;
        }

        a{
          flex-basis: 100%;
          padding: 10px;
          font-size: 16px;
          text-decoration: none;
          cursor: pointer;
          letter-spacing: 0.6px;
          transition: all 400ms;
          font-family: Arial, Helvetica, sans-serif;
        &:hover{
          color: $color-blue;
          background-color: $color-super-light-yellow;

          }
        }
      }


    }

  }

  .logout-menu-background{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    left: 0;
    top: 0;
    background: transparent;
    display: none;
    z-index: 99;
    &.active{
      display: block;
    }
  }

}

