@import "../../common/css/commonView";
@import "../../common/css/mixins";

//region Left Area
.d-none {
  display: none !important;
}


.la-header {
  min-height: 50px;
  background-color: $color-black;
  color: $color-white;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  
  button {
    border: 1px solid $color-white;
    padding-right: 7px;
    padding-left: 7px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    user-select: none;
  }
  
  .la-name {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .undo, .redo {
    font-size: 10px;
  }
  
}

.la-tools {
  padding-top: 8px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  
  input {
    border: none;
    flex-basis: 100%;
    margin-left: 15px;
    border-bottom: 1px solid grey;
    margin-right: 10px;
    min-width: 110px;
  }
  
  .filter-clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 3px;
    color: $color-gray;
    display: none;
    
    &:hover {
      color: $color-black;
    }
    
    &.active {
      display: block;
    }
  }
  
  .add-section {
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 8px;
    transition: background-color 400ms;
    cursor: pointer;
    white-space: nowrap;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  
}

.la-container {
  $la-tabs-width: 30px;
  
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  font-size: 9px;
  position: relative;
  padding-left: $la-tabs-width;
  
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid #999;
  }
  
  .la-tabs {
    display: flex;
    font-size: 15px;
    line-height: 15px;
    height: $la-tabs-width;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(90deg);
    color: $color-white;
    
    .la-tab {
      @include paddingX(10px);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: flex-grow 400ms;
      flex-grow: 0;
      
      .icon, .number {
        width: 20px;
        height: 20px;
        background-color: $color-white;
        color: $color-purple;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      
      .number {
        margin-left: auto;
        border-radius: 50%;
      }
      
      
      span {
        @include marginX(10px);
      }
      
      &.active {
        flex-grow: 1;
        //color: $color-gold;
        //
        //.icon, .number {
        //  background-color: $color-gold;
        //}
      }
      
      &.la-tab-custom-fields {
        background-color: $color-purple-plum;
        
        .icon, .number {
          color: $color-purple-plum;
        }
      }
      
      &.la-tab-templates {
        background-color: $color-yellow-mongoose;
        
        .icon, .number {
          color: $color-yellow-mongoose;
        }
      }
      
      &.la-tab-fixed-fields {
        background-color: $color-black-masala;
        
        .icon, .number {
          color: $color-black-masala;
        }
      }
      
    }
  }
  
  .la-tab-content {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    
    &.active {
      height: auto;
    }
  }
  
  //.la-tab {
  //
  //  .la-tab-header {
  //    color: white;
  //    padding: 8px 8px 8px 5px;
  //    cursor: pointer;
  //    font-size: 15px;
  //    letter-spacing: 1px;
  //    font-weight: bold;
  //    user-select: none;
  //    white-space: nowrap;
  //    display: flex;
  //    align-items: center;
  //    justify-content: flex-start;
  //
  //    &.active {
  //      box-shadow: #000000 0 10px 10px 10px;
  //    }
  //
  //    .icon {
  //      background-color: #fff;
  //      @include square(20px);
  //      display: flex;
  //      align-items: center;
  //      justify-content: center;
  //      border-radius: 5px;
  //      margin-right: 5px;
  //    }
  //
  //    .number {
  //      background-color: #fff;
  //      @include square(20px);
  //      display: flex;
  //      align-items: center;
  //      justify-content: center;
  //      border-radius: 50%;
  //      margin-left: auto;
  //    }
  //  }
  //
  //  &:nth-child(1) {
  //    .la-tab-header {
  //      background-color: $color-purple;
  //
  //      .icon, .number {
  //        color: $color-purple;
  //      }
  //    }
  //  }
  //
  //  &:nth-child(2) {
  //    .la-tab-header {
  //      background-color: $color-blue;
  //
  //      .icon, .number {
  //        color: $color-blue;
  //      }
  //    }
  //  }
  //
  //  &:nth-child(3) {
  //    .la-tab-header {
  //      background-color: $color-green;
  //
  //      .icon, .number {
  //        color: $color-green;
  //      }
  //    }
  //  }
  //}
}

.la-field-group {
  display: table;
  width: 100%;
  
  .la-field-group-header {
    color: white;
    padding: 8px 36px 8px 5px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
    .number {
      margin-left: auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 8px;
    }
  }
  
  .la-field-group-content {
    height: 0;
    overflow: hidden;
    @include paddingX(10px);
  }
  
  &.active {
    .la-field-group-content {
      height: auto;
    }
  }
  
  &:nth-child(even) {
    .la-field-group-header {
      background-color: $color-green;
      
      .icon, .number {
        color: $color-green;
      }
    }
  }
  
  &:nth-child(odd) {
    .la-field-group-header {
      background-color: $color-blue;
      
      .icon, .number {
        color: $color-blue;
      }
    }
  }
  
}

.la-field {
  margin: 10px 0;
  border: 2px solid $color-purple;
  padding: 10px;
  color: $color-purple;
  background-color: $color-white;
  font-size: 13px;
  font-weight: 700;
  display: table;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 400ms, background-color 400ms;
  cursor: grab;
  
  &:before {
    margin-right: 10px;
  }
  
  &:hover {
    background-color: $color-purple;
    color: $color-white;
  }
  
}

//endregion Left Area

//region Right Area
.ra-header {
  min-height: 50px;
  background-color: $color-black;
  color: $color-white;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  
  button {
    border: 1px solid $color-white;
    padding-right: 7px;
    padding-left: 7px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    user-select: none;
  }
  
  .ra-name {
    margin-right: auto;
  }
  
  .undo, .redo {
    font-size: 10px;
  }
  
}

.ra-tools {
  padding-top: 8px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  
  input {
    border: none;
    flex-basis: 100%;
    margin-left: 10px;
    border-bottom: 1px solid grey;
    margin-right: 21px;
  }
  
  .filter-clear-btn {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 3px;
    color: $color-gray;
    display: none;
    
    &:hover {
      color: $color-black;
    }
    
    &.active {
      display: block;
    }
  }
  
  .save {
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 8px;
    transition: background-color 400ms;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  
}

.ra-container {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid #999;
  }
  
  [class *= -header] {
    color: white;
    padding: 8px 8px 8px 5px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
  }
  
  [class *= -settings] {
    overflow: hidden;
    height: 0;
    color: $color-black;
    
    input, textarea {
      display: block;
      padding: 5px;
      font-size: 15px;
    }
    
    label {
      font-size: 13px;
      display: block;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      white-space: nowrap;
    }
    
    label:first-child {
      margin-top: 10px;
    }
  }
  
  
  .field-header {
    padding-left: 35px;
    background-color: $color-purple-plum;
  }
  
  .layout-header {
    background-color: $color-blue;
  }
  
  .section-header {
    background-color: $main-color;
  }
  
  .tab-header {
    padding-left: 15px;
    background-color: $color-green;
  }
  
  .table-header {
    padding-left: 25px;
    background-color: $color-water-melon;
  }
  
  
  &.filtering-mode {
    
    .section-wrapper {
      display: none;
      
      label, textarea, input {
        display: none;
      }
      
      
    }
  }
}

//endregion Right Area

//region Center Area

.ca-header {
  width: 100%;
  padding: 8px 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  
  .add-section, .merge {
    padding: 8px 10px;
    cursor: pointer;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    color: #3E4C68;
    display: flex;
    margin-left: 10px;
    
    &.disabled {
      pointer-events: painted;
      cursor: not-allowed;
      filter: invert(0.3);
    }
    
    div {
      margin-right: 5px;
    }
  }
  
  .app-name {
    margin-right: auto;
    padding: 8px 10px;
    cursor: pointer;
    z-index: 999;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 170px);
    color: #3E4C68;
  }
}

.ca-container {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid #999;
  }
  
  .canvas {
    display: table;
    //padding: 20px;
    min-width: 100%;
    
    .sections {
      $section-body-children-margin:10px;
  
      color: white;
      display: grid;
      
      .section {
        margin: 10px;
        display: table;
        
        &.hidden {
          display: none;
        }
        
        > .header {
          width: 100%;
          background-color: $main-color;
          display: flex;
          padding: 10px 15px;
          cursor: pointer;
          
          .toggle-body {
            transition: transform 400ms;
          }
          
          .name {
            white-space: nowrap;
            margin-right: auto;
            user-select: none;
          }
          
          & + .body {
            width: 100%;
            border: 1px solid $main-color;
            overflow: hidden;
          }
        }
        
        &.collapsed {
          > .header {
            .toggle-body {
              transform: scaleY(-1);
            }
          }
          
          > .body {
            height: 0;
            border-width: 0;
          }
        }
  
        .tabs-header {
          width: calc(100% - #{$section-body-children-margin*2});
          //display: flex;
          display: grid;
          grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
          grid-gap: 2px;
          margin: $section-body-children-margin $section-body-children-margin 2px;
  
          .header {
            align-items: center;
            background-color: $color-green;
            cursor: pointer;
            display: flex;
            padding: 10px 1em;
            font-size: 10px;
            .name{
              overflow: hidden;
              text-overflow: ellipsis;
              margin-right: auto;
            }
            &.expanded{
              background-color: darken($color-green,10);
              font-size: 13px;
              font-weight: 700;
            }
            &.active{
              color:$color-yellow;
            }
          }
        }
        
        .tabs-body {
          background-color: #F2F1F9;
          //padding: 10px;
          
          .tab {
            margin: 0 $section-body-children-margin $section-body-children-margin;
            width: calc(100% - #{$section-body-children-margin*2});
            display: none;
            &.active {
              display: table;
              .tables {
                display: grid !important;
              }
  
            }
            
            &.hidden {
              display: none;
            }
            
            > .header {
              width: 100%;
              display: flex;
              padding: 10px 15px;
              background-color: $color-green;
              cursor: pointer;
              
              .toggle-body {
                transition: transform 400ms;
              }
              
              .name {
                white-space: nowrap;
                margin-right: auto;
                user-select: none;
              }
              
              & + .body {
                width: 100%;
                border: 1px solid $color-green;
                overflow: hidden;
                transition: all 400ms;
              }
            }
            
            .tables {
              //padding: 10px;
              background-color: #dedede;
              //display: none;
              display: grid;
              
              
              .table {
                margin: 10px;
                display: table;
                
                
                &.hidden {
                  display: none;
                }
                
                > .header {
                  width: 100%;
                  background-color: $color-water-melon;
                  display: flex;
                  padding: 10px 15px;
                  cursor: pointer;
                  
                  .toggle-body {
                    transition: transform 400ms;
                  }
                  
                  .name {
                    white-space: nowrap;
                    margin-right: auto;
                    user-select: none;
                  }
                  
                  & + .body {
                    width: 100%;
                    border: 1px solid $color-water-melon;
                    overflow: hidden;
                    transition: all 400ms;
                  }
                }
                
                &.collapsed {
                  > .header {
                    .toggle-body {
                      transform: scaleY(-1);
                    }
                  }
                  
                  > .body {
                    height: 0;
                    border-width: 0;
                  }
                }
                
                &.active {
                  position: relative;
                  
                  > .header {
                    color: $color-yellow;
                  }
                  
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //border: 2px solid $color-red;
                    pointer-events: none;
                  }
                }
                
                + .table{
                  margin-top: 0;
                }
                
                table, th, td {
                  border: 1px solid $color-black;
                  border-collapse: collapse;
                  user-select: none;
                }
                
                table {
                  min-width: 100%;
                  border-color: $color-water-melon;
                }
                
                td {
                  border-style: dashed;
                  cursor: crosshair;
                  position: relative;
                  
                  &.selected {
                    &:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: 5;
                      width: 100%;
                      height: 100%;
                      background-color: transparentize($color-blue, 0.5);
                      pointer-events: none;
                    }
                    
                  }
                  
                  .td-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                  }
                  
                  .ca-field {
                    display: flex;
                    margin: 10px;
                    border: 2px solid $color-purple;
                    padding: 10px;
                    color: $color-purple;
                    background-color: $color-white;
                    font-size: 13px;
                    font-weight: 700;
                    width: 100%;
                    max-width: 200px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    transition: color 400ms, background-color 400ms;
                    cursor: grab;
                    
                    &.active, &:hover {
                      background-color: $color-purple;
                      color: $color-white;
                    }
                    
                    .name {
                      display: flex;
                      align-items: center;
                      margin-right: auto;
                    }
                  }
                }
                
                tr {
                  
                  &:nth-child(even) td {
                    background-color: $color-light-gray;
                  }
                  
                  &:nth-child(odd) td {
                    background-color: $color-super-light-yellow;
                  }
                  
                  th {
                    position: relative;
                    
                    .add-row, .remove-row, .add-column, .remove-column {
                      @include square(14px);
                      border-radius: 50%;
                      color: $color-white;
                      background-color: $color-water-melon;
                      position: absolute;
                      z-index: 2;
                      opacity: 0;
                      pointer-events: none;
                      transition: opacity 400ms;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;
                    }
                    
                    .add-column {
                      right: 0;
                      top: 50%;
                      transform: translate(50%, -50%);
                    }
                    
                    .remove-column {
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%);
                    }
                    
                    .add-row {
                      bottom: 0;
                      left: 50%;
                      transform: translate(-50%, 50%);
                    }
                    
                    .remove-row {
                      bottom: 50%;
                      left: 0;
                      transform: translate(0, 50%);
                    }
                    
                    
                    &:hover {
                      .add-column, .remove-column, .add-row, .remove-row {
                        opacity: 1;
                        pointer-events: visible;
                      }
                    }
                  }
                  
                  
                }
                
                thead {
                  tr:first-child {
                    th {
                      &:after {
                        display: none;
                      }
                    }
                  }
                }
                
                th {
                  background: $color-gray-blue;
                  padding: 5px 7px;
                }
                
              }
            }
            
           
          }
          
        }
        
        &.active {
          > .header {
            position: relative;
            color: $color-yellow;
            
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              //border: 2px dashed $color-white;
              pointer-events: none;
            }
          }

        }
      }
    }
  }
  
  
}

//endregion Center Area

