@import "../../common/css/fontawsome";
@import "../../common/css/variables";
@import "../../common/css/normalize";

.da-container{
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #333;
    outline: 1px solid #999;
  }
  .canvas{
    display: table;
    padding: 20px;
    .sections-wrapper {
      display: grid;
      grid-template-columns: repeat(2, auto);
      .section {
        margin-right: 20px;
        margin-bottom: 20px;
        //box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        > .header {
          color: white;
          width: 100%;
          background-color: $color-green;
          display: flex;
          padding: 10px 15px;
          letter-spacing: 1px;
          .collapse{
            transition: all 400ms;
            &.active {
              transform: rotate(-90deg) translateX(-0.2em);
            }
          }
          .name {
            white-space: nowrap;
            margin-right: auto;
            user-select: none;
          }
        }
        .table-collapse-wrapper{
          .table-wrapper{
            //flex-grow: 1;
            width: 100%;
            height: 100%;
            position: relative;
            //padding: 20px;
            //border: 1px solid $color-green;
            background-color: $color-yellow-mangoose-2;
            border: 1px solid $color-green;
            //&:before{
            //  content: "";
            //  position: absolute;
            //  top: 0;
            //  left: 0;
            //  width: 100%;
            //  height: 100%;
            //  border: 1px solid $color-green;
            //
            //}

            table{
              margin: 20px;
              border-collapse: collapse;
              tr{
                width: 100%;
                text-align: left;
                vertical-align: center;
                background-color: #cfd9e2;
                &:first-of-type{
                  background-color: $color-water-melon;
                  color: $color-white;
                  th{
                    padding: 10px;
                    &:not(:last-child){
                      border-right: 1px solid $color-gray;
                    }
                  }
                }
                &:nth-of-type(even) {
                  background-color: #ECECE6;
                }
                td{
                  padding: 10px;
                  border: 1px solid $color-gray;
                  border-top: none;
                  position: relative;
                  &:first-child{
                    border-left: 1px solid $color-water-melon;
                    .delete-row{

                      bottom: 50%;
                      left: 0;
                      opacity: 0;
                      pointer-events: none;
                      width: 14px;
                      height: 14px;
                      border-radius: 50%;
                      font-size: 12px;
                      line-height: 12px;

                      font-weight: 900;
                      color: white;
                      background-color: #c76e6b;
                      position: absolute;
                      z-index: 2;
                      transform: translate(-50%, 50%);
                      transition: opacity 400ms;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;
                    }
                  }
                  &:last-child{
                    border-right: 1px solid $color-water-melon;
                  }
                  select{
                    width: auto;
                    display: table-cell;

                  }
                  input[type = text]{
                    width: 80%;
                    padding: 5px 10px;
                  }
                }
                &:hover{
                  td{
                    &:first-child{
                      .delete-row{
                        opacity: 1;
                        pointer-events: visible;
                      }
                    }
                  }
                }
                &:last-child{
                  td{
                    border-bottom-color: $color-water-melon;
                  }
                }
              }
              .criteria-text-wrapper{
                text-align: center;
                td{
                  background-color: #60849c;
                  border-top: none;
                  border-bottom: 1px solid $color-water-melon;
                }
              }
            }
          }
        }
        &.criteria-conditions{
          grid-column: 1 / 3;
          .criteria-text-wrapper{
            td{
              &:first-child{
                &:before{
                 content: none;
                }
              }
            }

          }
        }
        &.select-fields{
          grid-column: 1 / 3;
        }
      }
    }
  }
}

body{
  //display: flex;
  //flex-direction: row !important;
  //height: 100vh;
}

.center{
  //height: 100%;
  //flex-basis: 70%;
  //border-right: 2px solid black;
  //border-left: 2px solid black;
  //flex-grow: 1;
  //position: relative;
  //background-color: rgba(0, 0, 0, 0.03);
  //white-space: nowrap;
  //display: flex;
  //flex-direction: column;
  .position-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .da-header{
      position: relative;
      width: 100%;
      padding: 8px 20px;
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      z-index: 10;
      .app-name{
        margin-right: auto;
        padding: 8px 10px;
        cursor: pointer;
        z-index: 999;
        color: #3E4C68;
      }
    }
  }
}

.right{
  //display: flex;
  //flex-direction: column;
  //height: 100%;
  //flex-basis: 20%;
  //overflow: hidden;
  .ra-header {
    height: 50px;
    background-color: #333333;
    color: white;
    line-height: 50px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    padding-right: 21px;
    .ra-name {
      margin-right: auto;
    }
    button {
      border: 1px solid white;
      padding-right: 7px;
      padding-left: 7px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      user-select: none;
    }
  }
  .ra-container{
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    .settings-wrapper{
      .settings{
        overflow: hidden;
        color: #333333;
        label{
          font-size: 13px;
          display: block;
          margin-right: 10px;
          margin-left: 10px;
          white-space: nowrap;
          &:first-child{
            margin-top: 15px;
          }
        }
        textarea{
          display: block;
          margin-right: 10px;
          margin-left: 10px;
          padding: 5px;
          font-size: 15px;
          &:not(:last-child){
            margin-bottom: 10px;
          }
        }
        input{
          display: block;
          margin-right: 10px;
          margin-left: 10px;
          padding: 5px;
          font-size: 15px;
          &:not(last-child){
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}