@import "../../common/css/fontawsome";
@import "../../common/css/variables";
@import "../../common/css/normalize";

.container {
  display: flex;
  height: 100vh;

  .left-area {
    flex-basis: 300px;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;

  }

  .drawing-area {
    height: 100%;
    flex-grow: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .right-area {
    height: 100%;
    flex-basis: 400px;
    flex-shrink: 0;
    flex-grow: 0;


  }
}

.la-header {
  height: 50px;
  background-color: $color-black;
  color: $color-white;
  line-height: 50px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.la-tools {
  padding-top: 8px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;

  input {
    border: none;
    flex-basis: 100%;
    margin-left: 15px;
    border-bottom: 1px solid grey;
    margin-right: 10px;
    min-width: 110px;
  }
  .filter-clear-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 3px;
    color: $color-gray;
    display: none;
    &:hover{
      color: $color-black;
    }
    &.active{
      display: block;
    }
  }

  .add-job {
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 8px;
    transition: background-color 400ms;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

}

.ra-header {
  height: 50px;
  background-color: $color-black;
  color: $color-white;
  line-height: 50px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  padding-right: 21px;

  button{
    border: 1px solid $color-white;
    padding-right: 7px;
    padding-left: 7px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    user-select: none;
  }

  .ra-name{
    margin-right: auto;
  }

  .undo, .redo{
    font-size: 10px;
  }

}

.ra-tools {
  padding-top: 8px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  input {
    border: none;
    flex-basis: 100%;
    margin-left: 10px;
    border-bottom: 1px solid grey;
    margin-right: 21px;
  }
  .filter-clear-btn{
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 3px;
    color: $color-gray;
    display: none;
    &:hover{
      color: $color-black;
    }
    &.active{
      display: block;
    }
  }

  .save {
    margin-right: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 8px;
    transition: background-color 400ms;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

}

.la-container {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  font-size: 9px;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #333;
    outline: 1px solid #999;
  }
  &:hover {

  }

  .la-job {
    display: table;
    min-width: 100%;
    color: $color-black;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 9px;
    &.active {
      > .header {
        background-color: $main-color;
        color: white;
      }
    }
    &.matched{
      > .header{
        display: block !important;
      }
    }

    button {
      flex-basis: 1.4em;
      height: 1.4em;
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 0.75em;
      color: inherit;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.add {
        margin-right: 0.5em;
        margin-left: 0.5em;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 400ms;

        &:before {
          font-size: 0.8em;
        }
      }

      &.remove {
        transition: opacity 400ms;
        opacity: 0;
        color: white;
        background-color: $color-red;

        &:before {
          font-size: 0.75em;
        }
      }

      &.collapse {
        transition: all 400ms;
        &.active {
          //transform-origin: b center;
          transform: rotate(-90deg) translateX(-0.2em);
        }
      }
    }

    .header {
      margin-bottom: 0.5em;
      line-height: 1.4em;
      white-space: nowrap;
      &:hover {
        button {
          opacity: 1;
        }
      }
    }

    > .header {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 1.8em;
      h3 {
        font-weight: 400;
        font-size: inherit;
        flex-shrink: 0;
        flex-grow: 0;
        cursor: pointer;
        user-select: none;
      }
    }

    .action-groups {

      padding-left: 1em;

      .action-group {
        &.active {
          > .header {
            background-color: $color-green;
            color: white;
          }
        }

        > .header {
          display: flex;
          align-items: center;
          font-size: 1.4em;
          h4 {
            font-weight: 400;
            font-size: inherit;
            cursor: pointer;
            user-select: none;
          }
        }

        .action {
          padding-left: 2em;
          display: flex;
          margin-bottom: 0.5em;
          &.active {
            background-color: $color-yellow;
            color: white;
            h5 {

            }
          }
          font-size: 1.2em;
          h5 {
            font-size: inherit;
            margin-right: 0.3em;
            user-select: none;
            font-weight: 400;
          }
          &:hover {
            button {
              opacity: 1;
            }
          }
          &.matched {
            display: block !important;
          }
        }
        &.matched{
          > .header{
            display: block !important;
          }
        }

      }

    }
    &:nth-child(odd){
      background-color: #c3d7e8;
    }

  }

  &.filtering-mode{
    margin-top: 5px;
    .la-job{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 0 !important;
    }
    button{
      display: none!important;
    }
    .action-groups {
      height: auto !important;
    }

    .actions{
      height: auto !important;
    }
    .header , .action {
      display: none !important;
      .collapse{
        display: none !important;
      }
    }

  }

}

.da-header {
  width: 100%;
  padding: 8px 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  .add-job {
    padding: 8px 10px;
    cursor: pointer;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    color: #3E4C68;
    display: flex;
    
    div {
      margin-left: 5px;
    }
  }
  
  .app-name {
    margin-right: auto;
    padding: 8px 10px;
    cursor: pointer;
    z-index: 999;
    //background-color: white;
    //box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    color: #3E4C68;
  }
}

.da-container {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #333;
    outline: 1px solid #999;
  }
  .canvas {
    display: table;
    padding: 20px;

    .jobs {
      color: white;
      display: grid;
      //justify-items: start;
      .job {
        margin-right: 20px;
        margin-bottom: 20px;
        display: table;
        > .header {
          width: 100%;
          background-color: $main-color;
          display: flex;
          padding: 10px 15px;
          cursor: pointer;
          .name {
            white-space: nowrap;
            margin-right: auto;
            user-select: none;
          }
        }
        .action-groups {
          border: 1px solid $main-color;
          background-color: #F2F1F9;
          padding: 20px 0 0 20px;
          //width: 0;
          //height: 0;
          display: none;
          .action-group {
            margin-right: 20px;
            margin-bottom: 20px;
            display: table;
            > .header {
              width: 100%;

              background-color: $color-green;
              display: flex;
              padding: 10px 15px;
              cursor: pointer;
              .name {
                white-space: nowrap;
                margin-right: auto;
                user-select: none;
              }
            }
            .actions {
              padding: 20px 0 0 20px;
              border: 1px solid $color-green;
              background-color: #E6E4F4;
              display: none;
              .action {
                margin-right: 20px;
                margin-bottom: 20px;
                background-color: $color-yellow;
                display: flex;
                padding: 10px 15px;
                cursor: pointer;
                .name {
                  white-space: nowrap;
                  margin-right: auto;
                  user-select: none;
                }
                &.active {
                  position: relative;
                  color: #333;
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //border: 2px solid $color-red;
                    pointer-events: none;
                  }
                }
              }
            }
            &.active {
              .actions {
                display: grid !important;
              }
              > .header {
                position: relative;
                color: $color-yellow;
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  //border: 2px solid $color-red;
                  pointer-events: none;
                }
              }
            }
          }

        }
        &:not(:first-child) .action-groups {
          display: none;
        }
        &.active {
          > .header {
            position: relative;
            color: $color-yellow;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              //border: 2px dashed $color-white;
              pointer-events: none;
            }
          }
          .action-groups {
            display: grid;
          }
        }
      }
    }
  }

}

.ra-container {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #333;
    outline: 1px solid #999;
  }
  [class *= -header] {
    color: white;
    padding: 8px 8px 8px 5px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
  }
  [class *= -settings] {
    overflow: hidden;
    height: 0;
    color: $color-black;
    input, textarea {
      display: block;
      margin-right: 10px;
      margin-left: 10px;
      padding: 5px;
      font-size: 15px;
      &:last-child {
        margin-bottom: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &[id *= -is-] {
        display: inline-block;
        margin: 0;
        vertical-align: bottom;
        margin-bottom: 10px;
        width: 15px;
        height: 15px;
      }
      &.matched{
        display: block !important;
      }
    }
    label {
      font-size: 13px;
      display: block;
      margin-right: 10px;
      margin-left: 10px;
      white-space: nowrap;
      &[for *= -is-] {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      &.matched{
        display: block !important;
      }
    }
    label:first-child {
      margin-top: 10px;
    }
  }
  .layout-header {
    background-color: $color-blue;
  }
  .job-header {
    background-color: $main-color;
  }
  .action-group-header {
    padding-left: 15px;
    background-color: $color-green;
  }
  .action-header {
    padding-left: 25px;
    background-color: $color-yellow;
  }
  .job-wrapper {
    display: none;
    &.active {
      display: block;
    }
    &.matched{
      display: block !important;
      .job-settings{
        height: auto !important;
      }
      .action-group-settings{
        height: auto !important;
      }
    }
  }
  .action-wrapper {
    display: none;
    &.active {
      display: block;
    }
  }
  .action-group-wrapper {
    display: none;
    &.active {
      display: block;
    }
  }
  &.filtering-mode{

    .job-wrapper {
      display: none;

      label, textarea, input{
          display: none;
        }


    }
  }
}
